

.testimonial-card {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.testimonial-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.author-img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-text {
    font-style: italic;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    font-family: var(--font-family);
}
.quote-icon {
    vertical-align: middle; 
    margin: 0 5px; 
    height: 25px;
    width: 25px;
}
.author-info {
    text-align: center;
    font-family: var(--font-family);
}

.author-name {
    font-weight: bold;
    font-family: var(--font-family);
}

.author-role {
    color: gray;
    font-family: var(--font-family);
    margin-top: -15px;
}

.dot-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    /* background-color: var(--text-secondary); */
    border: 1px solid #191942;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.dot-indicator .dot.active {
    background-color:#191942;
    height: 8px;
    width: 8px;
}

@media screen and (max-width: 768px) {
 .testimonial-content{
    height: 300px;
 }   
}